<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.dao.RepositoryMapper">
    <resultMap id="BaseResultMap" type="com.graduation.model.Repository">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="full_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="updated_at" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="pushed_at" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="size" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="star_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="watchers_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="forks_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="language" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="developerId" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, name, full_name, description, created_at, updated_at, pushed_at, size, star_count, 
    watchers_count, forks_count, language, developerId
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.model.RepositoryExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_repository
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tb_repository
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_repository
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.graduation.model.RepositoryExample">
        delete from tb_repository
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.graduation.model.Repository">
    insert into tb_repository (id, name, full_name, 
      description, created_at, updated_at, 
      pushed_at, size, star_count, 
      watchers_count, forks_count, language, 
      developerId)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{pushedAt,jdbcType=TIMESTAMP}, #{size,jdbcType=INTEGER}, #{starCount,jdbcType=INTEGER}, 
      #{watchersCount,jdbcType=INTEGER}, #{forksCount,jdbcType=INTEGER}, #{language,jdbcType=VARCHAR}, 
      #{developerid,jdbcType=VARCHAR})
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into tb_repository (id, name, full_name,
        description, created_at, updated_at,
        pushed_at, size, star_count,
        watchers_count, forks_count, language,
        developerId)
        values
        <foreach collection="list" item="repository" index="index" separator=",">
            (#{repository.id,jdbcType=BIGINT}, #{repository.name,jdbcType=VARCHAR}, #{repository.fullName,jdbcType=VARCHAR},
            #{repository.description,jdbcType=VARCHAR}, #{repository.createdAt,jdbcType=TIMESTAMP}, #{repository.updatedAt,jdbcType=TIMESTAMP},
            #{repository.pushedAt,jdbcType=TIMESTAMP}, #{repository.size,jdbcType=INTEGER}, #{repository.starCount,jdbcType=INTEGER},
            #{repository.watchersCount,jdbcType=INTEGER}, #{repository.forksCount,jdbcType=INTEGER}, #{repository.language,jdbcType=VARCHAR},
            #{repository.developerid,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.graduation.model.Repository">
        insert into tb_repository
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="pushedAt != null">
                pushed_at,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="starCount != null">
                star_count,
            </if>
            <if test="watchersCount != null">
                watchers_count,
            </if>
            <if test="forksCount != null">
                forks_count,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="developerid != null">
                developerId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="pushedAt != null">
                #{pushedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="starCount != null">
                #{starCount,jdbcType=INTEGER},
            </if>
            <if test="watchersCount != null">
                #{watchersCount,jdbcType=INTEGER},
            </if>
            <if test="forksCount != null">
                #{forksCount,jdbcType=INTEGER},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="developerid != null">
                #{developerid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.graduation.model.RepositoryExample" resultType="java.lang.Integer">
        select count(*) from tb_repository
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_repository
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.fullName != null">
                full_name = #{record.fullName,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null">
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.createdAt != null">
                created_at = #{record.createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updatedAt != null">
                updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.pushedAt != null">
                pushed_at = #{record.pushedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="record.size != null">
                size = #{record.size,jdbcType=INTEGER},
            </if>
            <if test="record.starCount != null">
                star_count = #{record.starCount,jdbcType=INTEGER},
            </if>
            <if test="record.watchersCount != null">
                watchers_count = #{record.watchersCount,jdbcType=INTEGER},
            </if>
            <if test="record.forksCount != null">
                forks_count = #{record.forksCount,jdbcType=INTEGER},
            </if>
            <if test="record.language != null">
                language = #{record.language,jdbcType=VARCHAR},
            </if>
            <if test="record.developerid != null">
                developerId = #{record.developerid,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_repository
        set id = #{record.id,jdbcType=BIGINT},
        name = #{record.name,jdbcType=VARCHAR},
        full_name = #{record.fullName,jdbcType=VARCHAR},
        description = #{record.description,jdbcType=VARCHAR},
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
        pushed_at = #{record.pushedAt,jdbcType=TIMESTAMP},
        size = #{record.size,jdbcType=INTEGER},
        star_count = #{record.starCount,jdbcType=INTEGER},
        watchers_count = #{record.watchersCount,jdbcType=INTEGER},
        forks_count = #{record.forksCount,jdbcType=INTEGER},
        language = #{record.language,jdbcType=VARCHAR},
        developerId = #{record.developerid,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduation.model.Repository">
        update tb_repository
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="pushedAt != null">
                pushed_at = #{pushedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="size != null">
                size = #{size,jdbcType=INTEGER},
            </if>
            <if test="starCount != null">
                star_count = #{starCount,jdbcType=INTEGER},
            </if>
            <if test="watchersCount != null">
                watchers_count = #{watchersCount,jdbcType=INTEGER},
            </if>
            <if test="forksCount != null">
                forks_count = #{forksCount,jdbcType=INTEGER},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="developerid != null">
                developerId = #{developerid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduation.model.Repository">
    update tb_repository
    set name = #{name,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      pushed_at = #{pushedAt,jdbcType=TIMESTAMP},
      size = #{size,jdbcType=INTEGER},
      star_count = #{starCount,jdbcType=INTEGER},
      watchers_count = #{watchersCount,jdbcType=INTEGER},
      forks_count = #{forksCount,jdbcType=INTEGER},
      language = #{language,jdbcType=VARCHAR},
      developerId = #{developerid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>